<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <p class="mb-1">© {{ now|date:"Y" }} Mening Blogim. Barcha huquqlar himoyalangan.</p>
    <p>
      <a href="https://www.linkedin.com/in/Zafarbek Xudoyqulov" class="text-white text-decoration-none mx-2">LinkedIn</a> |
      <a href="https://t.me/ZafarbekDev" target="_blank" class="text-white text-decoration-none mx-2">Telegram</a> |
      <a href="https://www.instagram.com/zafarbek_xudoyqulov0" class="text-white text-decoration-none mx-2">Instagram</a>
    </p>
  </div>
</footer>
